.con{
  /* background-color: black; */
padding-top:20px;
padding-bottom:20px;
}
.front{
  height:650px;
  background-image: url("main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link{
  font-size: 20px;
  font-weight: bold;
}
.btn{
  font-size: 20px!important;
  font-weight: bold!important;
}
